body {
   	   background-image: url("https://www.worldofquartz.ru/upload/iblock/089/0895f44b3df9e6bfc970ce6246b5b876.jpg");
   	   font-family:Georgia;
   }
p {
        color:DarkGreen;
        font-size:17px;
}
